language: c
sudo: false
dist: xenial
compiler:
  - gcc
os:
  - linux
before_install:
  - eval "CC=gcc-7 && CXX=g++-7"
install:
  - wget --quiet --no-check-certificate "https://github.com/Kitware/CMake/releases/download/v3.13.3/cmake-3.13.3-Linux-x86_64.sh" -O ./cmake.sh &&
    chmod +x ./cmake.sh &&
    mkdir -p "$HOME/cmake-install" &&
    ./cmake.sh --skip-license --exclude-subdir --prefix="$HOME/cmake-install/"
script:
  - mkdir _build &&
    cd _build &&
    "$HOME/cmake-install/bin/cmake" .. &&
    make &&
    make test
addons:
  apt:
    sources:
      - sourceline: 'ppa:ubuntu-toolchain-r/test'
    packages:
      - gcc-7
      - python3
      - libpython3-dev
      - swig
