language: c
sudo: false
dist: xenial
compiler:
  - gcc
  - clang
os:
  - linux
  - osx
script:
  - mkdir _build
  - cd _build
  - cmake ..
  - make
  - ctest -V
addons:
  apt:
    packages:
      - python3
      - libpython3-dev
      - swig
    update: true
  homebrew:
    packages:
      - swig
      - python
      update: true
