language: c
sudo: false
dist: xenial
compiler:
  - gcc
  - clang
os:
  - linux
  - osx
install:
  - if [[ "${TRAVIS_OS_NAME}" == "linux" ]]; then ./install-cmake-linux.sh; fi
script:
  - mkdir _build &&
    cd _build &&
    cmake .. &&
    make &&
    make test
addons:
  apt:
    packages:
      - swig
  homebrew:
    packages:
      - swig
      - cmake
    update: true
